/* font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif; */
body {
 margin: 0;
 font-family: "Raleway", sans-serif;
 color: rgb(82, 81, 81);
}
h1,
h2,
h3 {
 font-family: "Lato", sans-serif;
}
h1 {
 font-size: 50px;
}
h2 {
 font-size: 40px;
}
p {
 font-size: 20px;
}
section {
 margin-bottom: 40px;
}
nav ul {
 display: flex;
 list-style-type: none;
}
nav {
 width: 25%;
 margin: 5px auto;
 /* border: 2px solid green; */
}
nav ul li {
 margin-left: 10px;
 box-shadow: 1px 1px 5px rgb(204, 202, 202);
 border-radius: 10px;
}
nav ul a {
 display: inline-block;
 text-decoration: none;
 font-size: 20px;
 font-weight: 900;
 color: rgb(54, 54, 54);
 padding: 5px 20px;
 background-image: linear-gradient(rgb(254, 243, 236), rgb(253, 183, 150));
}
.flex {
 display: flex;
}
.header-text {
 width: 40%;
 margin: 0 auto;
 /* border: 2px solid green; */
 padding-left: 100px;
 padding-top: 100px;
}
.color-text {
 color: orangered;
 font-size: 60px;
}
.header-text a {
 text-decoration: none;
 font-size: 20px;
 color: white;
 background-image: linear-gradient(orange, orangered);
 padding: 10px 20px;
 border-radius: 10px;
}
.header-img {
 width: 45%;
 margin: 0 auto;
 /* border: 2px solid green; */
}
.about-section {
 background: url(./images/shapes/7.png);
 background-repeat: no-repeat;
 background-size: cover;
}
.about-img {
 width: 40%;
 margin: 0 auto;
 /* border: 2px solid green; */
}
.about-img img {
 width: 50%;
 margin-top: 40px;
 margin-left: 150px;
}
.about-text {
 width: 35%;
 margin: 0 auto;
 /* border: 2px solid green; */

 padding-right: 80px;
 padding-top: 100px;
}
.about-text p {
 margin-bottom: 50px;
}
.about-text a {
 text-decoration: none;
 font-size: 30px;
 color: white;
 background-image: linear-gradient(orange, orangered);
 padding: 15px 30px;
 border-radius: 10px;
}
.recipies-title {
 width: 40%;
 margin: 0 auto;
 text-align: center;
}
.recipie-box {
 text-align: center;
 width: 100%;
 margin: 0 auto;
 /* border: 2px solid green; */
}
.recipie-box-content {
 /* border: 2px solid green; */
 padding: 25px;
 width: 20%;
 margin: 0 auto;
 box-shadow: 5px 5px 20px gray;
 border-radius: 40px;
}
.recipie-box-content img {
 width: 80%;
 margin: 0 auto;
 text-align: center;
 /* border: 2px solid green; */
}
.followers {
 /* border: 2px solid green; */
 width: 70%;
 margin: 100px auto 30px auto;
 padding: 40px;
 color: black;
 box-shadow: 5px 5px 20px gray;
 border-radius: 50px;
}
.followers-content {
 /* border: 2px solid green; */
 width: 20%;
 margin: 0 auto;
}
footer {
 text-align: center;
 padding: 40px;
 color: rgb(194, 189, 189);
 background-color: rgb(29, 28, 28);
}
